{% extends 'base.html.twig' %}
{% block body %}
    



    <nav>

    <div class="nav-wrapper blue darken-3">
        <a class="nav-logo" href="#">
            <img class="responsive-img" src="{{asset('images/Logo1.jpeg')}}" alt="">
        </a>
        <a href="#" class="brand-logo">Bienvenido a S----A----G</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/getUbicaciones">Informacion</a></li>
            <li><a href="/test">Contacto</a></li>
        </ul>
    </div>

</nav>

{% endblock %}